body {
  @include body-font;
  padding-top: .25rem;
  color: $black;
  font-size: .75rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h4 {
  font-size: 1rem;
  color: $primary;
}
h5 {
  font-size: .85rem;
}
h6 {
  font-size: .65rem;
}


.pdf-action {
  cursor: pointer;
  .save-text {
    color: $primary;
  }
  .save-icon {
    color: $white;
  }
  .save-icon-circle {
    color: $gray-700;
  }
}
// .tooltip-arrow,
// .pdf-action + .tooltip > .tooltip-inner {background-color: $primary;}

// https://stackoverflow.com/questions/17642447/change-bootstrap-tooltip-color
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: lighten($primary, 15%);
}
.tooltip-inner {
  color: lighten($primary, 15%);
  background-color: $gray-900;
}

.resume-section p {
  font-size: .60rem;
  margin: 0rem 3.5rem 0rem .5rem;
  padding: 0rem 0rem 0rem 0rem;
}

a:hover {
  color: $primary;
}

.not-name {
  font-size: .60rem;
  margin-left: .25rem;
}

.social-item {
  margin-bottom: 1rem;
  .social-icon-layer {
    // display: inline-block;
    // color: $white;
    // text-align: center;
    // font-size: 1.5rem;
    // line-height: 3.5rem;
    margin-right: 1rem;
    .social-icon {
      color: $white;
    }
  }
}

.devicon-name {
  margin: .15rem 0rem 0rem 0rem;
  font-size: .5rem;
  color: black;
}
.list-devicons {
  color: $forest-green;
  font-size: 1.75rem;
}

span.skill {
  font-size: .5rem;
}

.skill-icon {
  color: $primary;
}
.skill-type {
  margin-bottom: .15rem;
  color: $primary;
  text-transform: capitalize;
}
.skill {
  background-color: $forest-green;
  color: $white;
}

.award-icon {
  color: $yellow;
}

.native {
  color: $forest-green;
}

.fluent {
  color: lighten($forest-green, 15%)
}

.proficient {
  color: lighten($forest-green, 30%)
}

.workingKnowledge {
  color: lighten($forest-green, 45%)
}
