.button-float {
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  right: 4rem;
  bottom: 3rem;
  // using percect here seemed to be a problem
  opacity: .5;
  font-size: 1.5rem;  
  .button-float-icon-circle {
    color: $gray-500;
  }
  .button-float-icon-layer {
  }
  .button-float-icon {
    color: $white;
  }
}

.mobile {
  font-size: 1rem;
  right: 2rem;
  bottom: 2rem;
}
