body {
  @include body-font;
  padding-top: .25rem;
  color: $black;
}

h1,
h2,
h3,
h4,
h5 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h4 {
  font-size: 1rem;
  color: $primary;
}
h5 {
  font-size: .85rem;
}
h6 {
  font-size: .65rem;
}

.resume-section p {
  font-size: .55rem;
  margin: 0rem 3.5rem 0rem .5rem;
  padding: 0rem 0rem 0rem 0rem;
}
.social-item {
  margin-bottom: 1rem;
  .social-icon-layer {
    // display: inline-block;
    // color: $white;
    // text-align: center;
    // font-size: 1.5rem;
    // line-height: 3.5rem;
    margin-right: 1rem;
    &:hover {
      background-color: $primary;
    }
    .social-icon {
      color: $white;
    }
  }
  
}


.devicon-name {
  margin: .15rem 0rem 0rem 0rem;
  font-size: .5rem;
  color: black;
}
.list-icons {
  color: $forest-green;
  font-size: 1.75rem;
}

span.skill {
  font-size: .5rem;
}

.skill-icon {
  color: $primary;
}
.skill-type {
  margin-bottom: .15rem;
  color: $primary;
  text-transform: capitalize;
}
.skill {
  background-color: $forest-green;
}